# Data Imputation - Bos Verileri Doldurma

<img src = imputation.png>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ExampleData.csv')

In [3]:
df

    Height   YOE  Salary
0    175.0   3.0     6.0
1    168.0   4.0     9.0
2    160.0  10.0    18.0
3      NaN  15.0    25.0
4    161.0   NaN    50.0
5    162.0   5.0    10.0
6    180.0   6.0    11.0
7      NaN   7.0     NaN
8    172.0   8.0    12.0
9    170.0   9.0    14.0
10   175.0   3.0     6.0
11   168.0   4.0     9.0
12   160.0  10.0    18.0
13     NaN  15.0    25.0
14   161.0   NaN    50.0
15   162.0   5.0    10.0
16   180.0   6.0    11.0
17     NaN   7.0     NaN
18   172.0   8.0    12.0
19   170.0   9.0    14.0
20   161.0   NaN    50.0
21   162.0   5.0    10.0
22   180.0   6.0    11.0
23     NaN   7.0     NaN
24   175.0   3.0     6.0

## 1) Linear Regression

In [4]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import LinearRegression

In [5]:
lr=LinearRegression()
imp=IterativeImputer(estimator=lr)
imputed_data=imp.fit_transform(df)

In [6]:
pd.DataFrame(imputed_data)

             0          1         2
0   175.000000   3.000000   6.00000
1   168.000000   4.000000   9.00000
2   160.000000  10.000000  18.00000
3   165.275222  15.000000  25.00000
4   161.000000  31.706376  50.00000
5   162.000000   5.000000  10.00000
6   180.000000   6.000000  11.00000
7   169.720689   7.000000  12.40191
8   172.000000   8.000000  12.00000
9   170.000000   9.000000  14.00000
10  175.000000   3.000000   6.00000
11  168.000000   4.000000   9.00000
12  160.000000  10.000000  18.00000
13  165.275222  15.000000  25.00000
14  161.000000  31.706376  50.00000
15  162.000000   5.000000  10.00000
16  180.000000   6.000000  11.00000
17  169.720689   7.000000  12.40191
18  172.000000   8.000000  12.00000
19  170.000000   9.000000  14.00000
20  161.000000  31.706376  50.00000
21  162.000000   5.000000  10.00000
22  180.000000   6.000000  11.00000
23  169.720689   7.000000  12.40191
24  175.000000   3.000000   6.00000

Boş Verileri Doldurmak için Linear Regression Kullandık

## 2) KNN Imputer

In [7]:
from sklearn.impute import KNNImputer

In [8]:
knn = KNNImputer()

In [9]:
imputed_data = knn.fit_transform(df)

In [10]:
pd.DataFrame(imputed_data)

        0     1     2
0   175.0   3.0   6.0
1   168.0   4.0   9.0
2   160.0  10.0  18.0
3   166.4  15.0  25.0
4   161.0  11.8  50.0
5   162.0   5.0  10.0
6   180.0   6.0  11.0
7   176.8   7.0  11.4
8   172.0   8.0  12.0
9   170.0   9.0  14.0
10  175.0   3.0   6.0
11  168.0   4.0   9.0
12  160.0  10.0  18.0
13  166.4  15.0  25.0
14  161.0  11.8  50.0
15  162.0   5.0  10.0
16  180.0   6.0  11.0
17  176.8   7.0  11.4
18  172.0   8.0  12.0
19  170.0   9.0  14.0
20  161.0  11.8  50.0
21  162.0   5.0  10.0
22  180.0   6.0  11.0
23  176.8   7.0  11.4
24  175.0   3.0   6.0

## 3) Simple Imputer

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
imp = SimpleImputer(strategy = 'mean') # median , mode

In [13]:
imputed_data3 = imp.fit_transform(df)

In [14]:
pd.DataFrame(imputed_data)

        0     1     2
0   175.0   3.0   6.0
1   168.0   4.0   9.0
2   160.0  10.0  18.0
3   166.4  15.0  25.0
4   161.0  11.8  50.0
5   162.0   5.0  10.0
6   180.0   6.0  11.0
7   176.8   7.0  11.4
8   172.0   8.0  12.0
9   170.0   9.0  14.0
10  175.0   3.0   6.0
11  168.0   4.0   9.0
12  160.0  10.0  18.0
13  166.4  15.0  25.0
14  161.0  11.8  50.0
15  162.0   5.0  10.0
16  180.0   6.0  11.0
17  176.8   7.0  11.4
18  172.0   8.0  12.0
19  170.0   9.0  14.0
20  161.0  11.8  50.0
21  162.0   5.0  10.0
22  180.0   6.0  11.0
23  176.8   7.0  11.4
24  175.0   3.0   6.0